@font-face {
  font-family: OpenSans;
  src: url(../font/OpenSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: OpenSans;
  src: url(/dist/font/OpenSans-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: OpenSans;
  src: url(../font/OpenSans-Bold.ttf);
  font-weight: 700;
}
body {
  font-family: OpenSans;
}
h1 {
  font-size: fs(fs-44);
}
h2 {
  font-size: fs(fs-32);
}
strong {
  font-weight: 700;
}
