.container {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.inline-block {
  display: inline-block;
}
.text-center {
  text-align: center;
}
.menu-is-open {
  overflow: hidden;
}

.heading-1 {
  font-size: 44px;
  @include breakpoint(sm) {
    font-size: 40px;
  }
  @include breakpoint(xs) {
    font-size: 34px;
    line-height: 1.4;
  }
}
.heading-2 {
  font-size: 32px;
  @include breakpoint(sm) {
    font-size: 28px;
    line-height: 1.4;
  }
  @include breakpoint(xs) {
    font-size: 24px;
  }
}
.heading-3 {
  font-size: 24px;
  @include breakpoint(xs) {
    font-size: 22px;
  }
}
