.hero {
  background-image: url(../images/group-11@2x.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;

  @include breakpoint(lg) {
    background-image: url(../images/group-11.png);
  }
}
.hero-content {
  max-width: 429px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &__heading {
    color: clr(primary-grey);
    line-height: 1.14;
    margin-bottom: 21px;
  }

  &__desc {
    font-size: 14px;
    line-height: 1.71;
    color: clr(primary-light-grey);
    margin-bottom: 43px;
  }
  &__caption {
    font-size: 12px;
    color: clr(tertiary-grey);
    margin-bottom: 10px;
  }
  &__navigation {
    @include btn-size(20px 37px, 14px);
  }
}

.info-wrap {
  padding: 116px 0 89px 0;

  &__heading {
    color: clr(primary-grey);
    margin-bottom: 50px;
  }
  &__card-holder {
    margin-bottom: 87px;
    @include flex-container($justify-content: center);

    @include breakpoint(sm) {
      @include flex-container($flex-direction: column, $align-items: center);
    }
  }
  &__desc {
    max-width: 639px;
    margin-bottom: 35px;
    font-size: 22px;
    line-height: 1.82;
    color: clr(primary-grey);

    @include breakpoint(xs) {
      font-size: 20px;
    }
  }
  &__caption {
    font-size: 14px;
    line-height: 1.57;
    color: clr(secondary-light-grey);

    & > a {
      color: clr(secondary-blue);
    }
  }
}

.banner {
  background-image: url(../images/group-2@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: clr(primary-white);

  @include breakpoint(lg) {
    background-image: url(../images/group-2.png);
  }

  @include breakpoint(xs) {
    background-position: right;
  }

  & > div {
    padding-top: 60px;
    position: relative;
    height: 100vh;

    @include breakpoint(xs) {
      padding-top: 30px;
    }
  }
}
.banner-content {
  max-width: 420px;
  margin-right: 60px;
  position: absolute;
  top: 55%;
  right: 0;
  transform: translateY(-50%);

  @include breakpoint(sm) {
    margin-right: unset;
    margin-left: 80px;
  }

  @include breakpoint(xs) {
    margin: 0 20px;
    top: 60%;
  }

  &__heading {
    margin-bottom: 19px;
  }
  &__desc {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.64;
  }
  &__navigation {
    @include btn-size(20px 37px, 14px);
  }
}
.banner-content__list {
  margin-bottom: 20px;
  font-size: 14px;
  & > li > span {
    font-size: 20px;
    vertical-align: text-bottom;
    margin-right: 5px;
  }
  &-item {
    line-height: 1.82;
    margin-bottom: 15px;
  }
}

.support-wrap {
  padding-top: 90px;
  padding-bottom: 90px;

  &__picture {
    margin-bottom: 5px;
  }

  &__heading {
    margin-bottom: 30px;
    color: clr(primary-grey);
  }
  &__desc {
    margin-bottom: 14px;
    max-width: 526px;
    font-size: 14px;
    line-height: 1.57;
    color: clr(primary-grey);
  }
  &__navigation {
    font-size: 18px;
    color: clr(tertiary-blur);
  }
}
