@mixin flex-container(
  $justify-content: false,
  $align-items: false,
  $flex-wrap: fales
) {
  display: flex;

  @if $justify-content != false {
    justify-content: $justify-content;
  }
  @if $align-items != false {
    align-items: $align-items;
  }
  @if $flex-wrap != false {
    flex-wrap: $flex-wrap;
  }
}

@mixin btn-size($padding-value, $fs-value) {
  padding: $padding-value;
  font-size: fs($fs-value);
}

@mixin breakpoint($point) {
  @if $point == md {
    @media screen and (max-width: 900px) {
      @content;
    }
  }
}
