@mixin flex-container(
  $justify-content: false,
  $align-items: false,
  $flex-wrap: false,
  $flex-direction: false
) {
  display: flex;

  @if $justify-content != false {
    justify-content: $justify-content;
  }
  @if $align-items != false {
    align-items: $align-items;
  }
  @if $flex-wrap != false {
    flex-wrap: $flex-wrap;
  }
  @if $flex-direction != false {
    flex-direction: $flex-direction;
  }
}

@mixin flex-item($flex-basis: false, $align-self: false) {
  @if $flex-basis != false {
    flex-basis: $flex-basis;
  }
  @if $align-self != false {
    align-self: $align-self;
  }
}

@mixin btn-size($padding-value, $fs-value) {
  padding: $padding-value;
  font-size: fs($fs-value);
}

@mixin position(
  $position: null,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin breakpoint($point) {
  @if $point == lg {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }
  @if $point == md {
    @media screen and (max-width: 900px) {
      @content;
    }
  } @else if $point == sm {
    @media screen and (max-width: 750px) {
      .hidden {
        display: none;
      }
      @content;
    }
  } @else if $point == xs {
    @media screen and (max-width: 450px) {
      @content;
    }
  }
}
