// font
$font-size: (
  fs-12: 12px,
  fs-13: 13px,
  fs-14: 14px,
  fs-32: 32px,
  fs-44: 44px,
);

$line-height: (
  lh-1: 1,
  lh-1.14: 1.14,
  lh-1.71: 1.71,
);

$colors: (
  primary-white: #ffffff,
  primary-black: #000000,
  opacity-primary-black: #1b1f241a,
  opacity-secondary-black: #36363614,
  primary-blue: #23c0f5,
  primary-grey: #454f5b,
  secondary-grey: #6a7c92,
  tertiary-grey: #637381,
  primary-blue-grey: #69939d,
  secondary-blue-grey: #c4cdd5,
);
