.top-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  transition: box-shadow 1s;
}
.header-wrap {
  @include flex-container(
    $justify-content: space-between,
    $align-items: center
  );
  padding-top: 27px;
  padding-bottom: 19px;
  border-bottom: 2px solid clr(secondary-blue-grey);

  &__left {
    @include flex-container($align-items: center);

    @include breakpoint(sm) {
      @include flex-container($justify-content: space-between);
      width: 100%;
    }
  }
}

.header-wrap__nav-phone {
  margin-left: 48px;
  position: relative;

  &--picture-bg {
    display: none;
  }
  & > span {
    color: clr(primary-grey);
    font-size: 14px;
    font-weight: 600;
  }

  @include breakpoint(md) {
    margin-left: 28px;
    &--picture-bg {
      display: block;
    }
    &--picture {
      display: none;
    }
    & > span {
      display: none;
    }
  }
  @include breakpoint(sm) {
    margin-left: unset;
    margin-right: 28px;
  }

  @include breakpoint(xs) {
    margin-right: 16px;
  }
}

.sticky-nav {
  background-color: clr(primary-white);
  box-shadow: 0 15px 25px 0 clr(opacity-primary-black),
    0 8px 8px 0 clr(opacity-secondary-black);
}
.sticky-nav > .header-wrap {
  border-bottom: none;
}
.nav-holder {
  @include flex-container(
    $justify-content: space-between,
    $align-items: center
  );

  @include breakpoint(sm) {
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 15px 25px 0 clr(opacity-primary-black),
      0 8px 8px 0 clr(opacity-secondary-black);
    background-color: clr(primary-white);
    margin-right: unset;
    position: absolute;
    top: 100px;
    left: 30px;
    right: 30px;
    @include flex-container($flex-direction: column, $align-items: center);
  }
  @include breakpoint(xs) {
    padding: 30px;
  }
}
.nav-holder__nav-item {
  margin-right: 26px;
  position: relative;

  & > a {
    color: clr(primary-blue-grey);
    font-size: 12px;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 0;
    background-color: clr(primary-blue);
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: width 500ms ease-out;
  }

  &:hover::after {
    width: 100%;
  }

  & > a:hover {
    text-shadow: 0 0 0.8px clr(primary-grey);
  }

  @include breakpoint(sm) {
    padding: 30px 0;
    margin-right: unset;

    &::after {
      display: none;
    }
  }
  @include breakpoint(xs) {
    padding: 25px 0;
  }
}
.header-navigation {
  @include btn-size(8px 19px, fs-13);
  margin-left: 12px;

  & > a {
    color: clr(primary-white);
  }
}
@include breakpoint(sm) {
  .nav-menu {
    position: relative;
    width: 30px;
    height: 25px;
  }
  .hamburger,
  .hamburger::after,
  .hamburger::before {
    width: 100%;
    height: 3px;
    background-color: clr(primary-grey);
    position: absolute;
    display: inline-block;
    border-radius: 4px;
    transition: 300ms;

    @include breakpoint(xs) {
      width: 26px;
    }
  }
  .hamburger::after,
  .hamburger::before {
    content: "";
    height: 3px;
  }
  .hamburger {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .hamburger::before {
    left: 0;
    top: -10px;

    @include breakpoint(xs) {
      top: -8px;
    }
  }
  .hamburger::after {
    left: 0;
    bottom: -10px;
    @include breakpoint(xs) {
      bottom: -8px;
    }
  }
  .nav-menu.active .hamburger {
    background-color: clr(transparent);
  }
  .nav-menu.active .hamburger::before {
    top: 0;
    transform: rotate(45deg);
  }
  .nav-menu.active .hamburger::after {
    top: 0;
    transform: rotate(135deg);
  }
}
