.top-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  transition: box-shadow 1s;
}
.header-wrap {
  @include flex-container(
    $justify-content: space-between,
    $align-items: center
  );

  padding-top: 27px;
  padding-bottom: 19px;
  border-bottom: 2px solid clr(secondary-blue-grey);

  &__left,
  &__right {
    @include flex-container($align-items: center);
  }

  &__nav-phone {
    margin-left: 48px;
    & > span {
      color: clr(primary-grey);
      font-size: fs(fs-14);
      font-weight: 600;
    }
    @include breakpoint(md) {
      margin-left: 24px;
      background-color: #2dccd2;
      padding: 9px;
      border-radius: 50%;

      &--picture {
        width: 22px;
        height: 20px;
      }
      &--picture > path[fill] {
        fill: clr(primary-white);
      }
      & > span {
        display: none;
      }
    }
  }
}
.sticky-nav {
  background-color: clr(primary-white);
  box-shadow: 0 15px 25px 0 clr(opacity-primary-black),
    0 8px 8px 0 clr(opacity-secondary-black);
}
.sticky-nav > .header-wrap {
  border-bottom: none;
}
.nav-holder {
  @include flex-container($justify-content: space-between);
  margin-right: 30px;
}
.nav-holder__nav-item {
  margin-left: 26px;

  & > a {
    color: clr(primary-blue-grey);
    font-size: fs(fs-12);
  }
}
.header-navigation {
  @include btn-size(8px 19px, fs-13);
}
